 /* 500円玉 */
#coin-500 {
    position: absolute;
    width: 300px;
    top: 10px;
    left: 10px;
    z-index: 1;
    transform: translateZ(1px);
    animation: Yrot 2s linear infinite;
}
@keyframes Yrot {
    0%   {transform: rotateY(0deg) }
    100% {transform: rotateY(360deg) }
}



/* 10円玉 */
#coin-10 {
    position: absolute;
    width: 200px;
    top: 50px;
    left: 50px;
    z-index: 2;
    transform: translateZ(2px);
    animation: Zrot 2s linear infinite;
}
@keyframes Zrot {
    0% {transform: rotate(0deg) }
    100% {transform: rotate(360deg) }
}